
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    background-color: rgb(255, 0, 0);
    padding-bottom: 400px;
}

#resume{
background-color: blue;
border: none;
 height: 100%;   
}
#skills{
    background-color: blue;
    border: none;
}
#buttons{
    background-color: blue;
    border: none;
    height: 100%;
}
#experiencebutton{
    background-color: blue;
    border: none;
}

#hobbies{
    background-color: blue;
    border: none;
}
h2{
    background-color: red;
    color: white;
}
h1{
    color: blue;
    font-weight: bold;
}
#main{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
    background-color: blue;
}
#sociallinks{
    vertical-align: auto;

    flex-direction: column;
    position: relative;
    float: right;
    background-color: black;
    z-index: 100;
    height: 100%;
}

#linkedin{
    width: 20px;
    height: 20px;
    color:black;
}